/*************reset css *************/

:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-wuidth: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
    /*transicion para las secciones*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


.header {
    position: sticky;
    top: 0;
    padding: 1.5rem;
    background-color: #333;
    color: #fff;
}

.header h1 {
    margin: 0;
    text-align: center;
}



.section {
    padding: 2rem;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD:EJERCICIO REPASO HTML CSS JS/style.css
    margin: 5% auto;
=======
    padding-bottom: 20px;
>>>>>>> 761ac7528388c3f0cc2baf089257df8ad6ad051b:style.css
    width: 100%;
    max-width: var(--container-wuidth);
    min-height: 100vh;
    text-align: center;
}

/***** search filters 96******/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));   
}

.card{
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.3s ease-out;
}

.card img {
    width: 100%;
    height: auto;
}

.card figcaption{
    padding: 1rem;
}

.filter {
   /** display: none;**/
   visibility: hidden;/*transicion que mantiene los objetos, y,
    por lo tanto no se deforma la imagen*/
   opacity:0;
   order: 1;
}


footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}